@font-face {
  src: url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; 
}
/*---------header-----------------*/
header {
  display: block;
  box-sizing: border-box;
  background: #090c35;
}

.header{
  box-sizing: border-box;
  background-color: #090c35;
  opacity: 0.9;
  padding-bottom: 85px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  display: block;
  font-size: 64px;
 	color: #ffffff;
}

.subscript {
  display: block;
 	color: #ffffff;
  font-size: 64px;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 28%;
}

.surface {
  fill: #ffffff;
  width: 136px;
	height: 35px;
  display: block;
	margin-left: auto;
	margin-right: auto;
  padding-top: 35px;
}

.logo {
margin-bottom: 45%;
}

.app_store_btn, .google_btn {
  display: flex;
  flex-wrap: wrap;
  width: 87.5%;
 	color: #ffffff;
  text-decoration: none;
  background: #663399;
  border-radius: 17.5px;
  margin-left: auto;
	margin-right: auto;
  margin-top: 15px;
}

.appl, .google {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.app_store, .google_play {
  display: block;
  width: 90px;
  font-size: 8px;
  padding: 6px;
  margin-right: auto;
}

.google_play {
  width: 60px;
}

@media (min-width: 320px) and  (max-width: 640px){

   h1 {
  	font-size: 28px;
   }
   .subscript {
    font-size: 28px;
   }

   .surface {
    fill: #ffffff;
    width: 136px;
    display: block;
	  margin-left: auto;
	  margin-right: auto;
   }
}

@media (min-width: 320px) and  (max-width: 640px) {
  header {
    background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/football_767.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 641px) and  (max-width: 960px){
   header {
    background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/football_1280.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
   }
}

@media (min-width: 961px) and  (max-width: 1920px){
   header {
    background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/football_1920.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
   }
}
/* -----------------секция athlete  секция players ---------------------*/

.athlete, .player {
  display: block;
  width: 67%;
  font-size: 50px;
  color: #ede9e9;
  box-sizing: border-box;
  margin-left: auto;
	margin-right: 25%;
}

.sportsman {
  display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.item01, .item02, .item03 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.connection {
  width: 67%;
  font-size: 23px;
  color: #cccccc;
  margin-left: 2%;
	margin-right: auto;
  margin-top: 25%;
}

.num {
  width: 5.5%;
	font-size: 14px;
  font-weight: bold;
	color: #000000;
  border-bottom: 4px solid #663399;
  border-radius: 5%;
  margin-top: 25%;
  margin-left: 6%;
}

.connect {
  width: 87.5%;
  font-size: 15px;
  margin-left: auto;
	margin-right: auto;
  margin-top: 8%;
  margin-bottom: 17.5%;
}

.item01 {
  background-color: #fafafa;
  margin-top: -12%;
}

.item02 {
 background-color: #f5f4f9;
}

.item03 {
 background-color: #663399;
}

.trey {
  border-color: #ffffff;
}

.resources {
  color: #ffffff;
}

.growth {
  background-color: #090c35;
}

/*-------------секция be active-----------------*/
