@font-face {
	 src: url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext);
 }

 * {
    margin: 0;
    padding: 0;
 }

 html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; 
}
/*---------header-----------------*/
header {
	  display: block;
	  box-sizing: border-box;
    background-color: #090c35;
    background-repeat: no-repeat;
    background-size: cover; 
}
.header{ /*наложение цвета*/
   box-sizing: border-box;
   background-color: rgba(0, 0, 51, 0.8); 
   padding-bottom: 10.5rem;
 }
.title { /*контейнер заголовка*/
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  margin-left: auto; 
  margin-right: auto;
}
 h1 {
   display: block;
   font-size: 3.5rem; 
 	 color: #ffffff;
 }

 .subscript { /*стили второй строчки заголовка*/
   display: block;
 	 color: #ffffff;
   font-size: 3.5rem;
   margin-left: 4.75rem;
   margin-top: 3.75rem;
   margin-bottom: 11rem;
   }

.surface { /*svg логотипа*/
    fill: #ffffff;
    width: 16rem;
	  height: 4.5rem;
    display: block; 
	  margin-left: auto;
	  margin-right: auto;
    padding-top: 4rem;
   }
.logo {
  margin-bottom: 17rem;
}
.app_store_btn, .google_btn { /*ссылка-кнопка*/
   display: flex;
   flex-wrap: wrap;
   width: 35rem;
 	 color: #ffffff;
   text-decoration: none;
   background: #663399;
   border-radius: 3rem;
   margin-left: auto;
	 margin-right: auto;
   margin-top: 2rem;
}


.appl, .google { /*svg иконок кнопок*/
  fill: #ffffff;
  width: 2.5rem;
  height: 3rem;
  margin-left: 11rem;
  margin-top: auto;
  margin-bottom: auto;
}
.app_store, .google_play { /*текст кнопок*/
  display: block;
  width: 10rem;
  font-size: 1rem;
  padding-left: 1rem;
  margin-right: auto;
}

.app, .play { /*вторая строчка кнопки*/
  display: block;
  font-weight: bold;
}

/* -----------------секция athlete  секция players ---------------------*/

.athlete, .player { /*заголовки секций ATHLETS и PLAYERS*/
  display: block;
  width: 27rem;
  font-size: 6.25rem;
  color: #ede9e9;
  box-sizing: border-box;
  margin-left: auto;
	margin-right: 10.5rem;  
}

.sportsman { /* декор. img в секциях ATHLETS и PLAYERS */
  display: block;
	margin-left: auto;
	margin-right: auto;
}
  
.item01, .item02, .item03 { /* стили тега <li> */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.service  { /* стили заголовка в <li> */
  width: 21rem;
  font-size: 3rem;
  color: #cccccc;
  margin-left: 1rem;
	margin-right: auto;
  margin-top: 10.5rem;
}

.num { /* стили маркеров <li> */
  width: 2rem;
	font-size: 1.75rem;
  font-weight: bold;
	color: #000000;
  border-bottom: 4px solid #663399;
  border-radius: 2px;
  margin-top: 10.5rem;
  margin-left: 2.5rem;
}

.connect { /* стили текста в <li> */
  width: 35rem;
  font-size: 2rem;
  margin-left: auto;
	margin-right: auto;
  margin-top: 3.5rem;
  margin-bottom: 7rem;
}

.item01 {/* идивидуальные стили тега <li>*/
  background-color: #fafafa;
  margin-top: -7rem;
}

.item02 {/* идивидуальные стили тега <li>*/
 background-color: #f5f4f9; 
}

.item03 {/* идивидуальные стили тега <li>*/
 background-color: #663399; 
}

.trey {/* идивидуальные стили маркера в item03*/
  border-color: #ffffff;
}

.third { /* идивидуальные стили маркера в item03 growth */
  color: #663399;
  border-color: #ffffff;
}

.resources { /* идивидуальные стили текста в item03 growth */
  color: #ffffff;
}

.growth { /* идивидуальный стиль <li> item03 growth */
  background-color: #090c35; 
}

/*-------------секция сommon-work-----------------*/

.active { /* заголовок в секции common-work */
  font-size: 3.5rem;
  margin-top: 4rem;
}

 .be-active, .contact, .work-it { /* фон разделов common-work */
   display: flex;
   align-items: flex-end;
   background-repeat: no-repeat;
   background-size: cover; 
   background-color: #bcdbf7;
 } 

.work { /* номера разделов */
  width: 2rem;
  color: #ffffff;
  border-color: #8f7bc8;
  margin: auto;
  padding-left: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap { /*контенер для квадрата*/
  margin-bottom: -1.5rem;
  margin-left: 2.5rem;
}

.wrapper { /*сиреневый квадрат */
  position: relative;
  width: 8.75rem;
  height: 8.75rem;
  background-color: #663399;
}

/*-----------footer-------------*/
footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #090c35;
}

.footer { /*наложение цвета*/
  background-color: rgba(0, 0, 51, 0.8);
  padding-top: 12.5rem;
  padding-bottom: 1.25rem;
  box-sizing: border-box;
}

.icon { /* контейнер для иконки лого */
  width: 9rem;
  background-color: #663399;
  border-radius: 20%;
  margin-left: auto;
  margin-right: auto;
}

.icon-surface { /* svg иконка лого */
  width: 7rem;
  height: 6.5rem;
  fill: #ffffff;
  margin: 1.25rem 1rem;  
}

.download { /*заголовок футера*/
  display: block;
  width: 35.6rem;
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5rem;
}

.motive {/* дополнение к заголовку футера*/
  display: block;
  width: 35.6rem;
  font-size: 1.75rem;
  color: #9999cc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9.5rem;
}

.logo_fut {
  margin-top: 5.5rem;
}

@media (min-width: 320px) and  (max-width: 640px) {
    html{
      font-size: 50%;
    }
  header {/*фон заголовка*/
    background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/football_767.jpg?raw=true); 
 }
    
    .be-active { /*фон секции be active  */
      background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/be-active320.png?raw=true);
      width: 100%;
      height: 351px;
    }
    
    .contact { /*фон секции find contact  */
      background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/find-contact320.png?raw=true);
      width: 100%;
      height: 351px;
    }
    
    .work-it { /*фон секции work it  */
      background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/work-it320.png?raw=true);
      width: 100%;
      height: 351px;
    }
    
    footer { 
   background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/game_767.jpg?raw=true);
    }
}

@media (min-width: 641px) and  (max-width: 960px){
  
   html{
      font-size: 81.5%;
    }
  .title { /*контейнер заголовка*/
  width: 40em;
}
   h1 {
    font-size: 4.9em;
  }
  
  .subscript { /*стили второй строчки заголовка*/
   font-size: 4.9em;
  }
  
  .app_store_btn, .google_btn { /*ссылка-кнопка*/
  width:  24rem;
  box-shadow: 16px 16px 16px #0a0e34;  
  }
  
  .button{ /*меняем положение кнопок*/
   display: flex;
  }
  
  .app_store_btn {
   margin-right: 1.2rem; 
  }
  .google_btn {
   margin-left: 1.2rem; 
  }
  
  .appl, .google { /*svg иконок кнопок*/
  fill: #ffffff;
  width: 2.7em;
  height: 3rem;
  margin-left: auto;  
}
  
.app_store, .google_play { /*текст кнопок*/
  padding-left: 1rem;
  box-sizing: border-box;
  align-self: center;
  margin-right: auto;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}
  
  .sportsman {
    margin-left: -12.5rem;
  }
  
 .athlete, .player { /*заголовки секций ATHLETS и PLAYERS*/
  margin-top: 6.6rem;
  margin-left: auto;
	margin-right: auto;
  padding-left: 1.8rem;
} 
  
 .item01 {/* идивидуальные стили тега <li>*/
  background-color: transparent;
  margin-top: -47rem; 
  justify-content: flex-end; 
}
  
 .service  { /* стили заголовка в <li> */
  font-size: 2.5em;
  margin-left: 1rem;
	margin-right: auto;
  margin-top: 0px;
} 
  .num { /* стили маркеров <li> */
  width: 1.5rem;
	font-size: 1.4em;
  margin-top: 0px;
  margin-left: 22.5rem;
}

.connect { /* стили текста в <li> */    
  font-size: 2rem;
  margin-left: 22.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
  
  .sportsman-two {
  margin-left: 38rem; 
  }
   header {/*фон заголовка*/
    background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/football_1280.jpg?raw=true);
   }
  
  .be-active {/*фон секции be active  */
      background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/be-active_960.jpg?raw=true);
      width: 100%;
      height: 584px;
    } 
  
  .contact {/*фон секции find contact  */
      background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/find-contact_960.jpg?raw=true);
      width: 100%;
      height: 584px;
    }
  
  .work-it {/*фон секции work it  */
      background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/work-it_960.jpg?raw=true);
      width: 100%;
      height: 584px;
    }
  
   footer { 
   background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/game_1280.jpg?raw=true);
    }
}

@media (min-width: 961px) and  (max-width: 1920px){
   html{
      font-size: 100%;
    }
   header {/*фон заголовка*/
    background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/football_1920.jpg?raw=true);
   }
  
  .be-active {/*фон секции be active  */
      background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/be-active_1024.jpg?raw=true);
     width: 50%;
     height: 730px;
    } 
  
  .contact {/*фон секции find contact  */
      background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/find-contact_1024.jpg?raw=true);
      width: 50%;
      height: 730px;
    }
  
  .work-it {/*фон секции work it  */
      background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/work-it_1024.jpg?raw=true);
      width: 50%;
      height: 730px;
    }
   
  footer { 
   background-image: url(https://github.com/Stasya-Plotnikova/diploma/blob/master/img/game_1920.jpg?raw=true);
    }
}
